{% extends 'base.html' %}
{% block content %}
    <form>
        <div>
            <!-- searches for the name of the cat -->
            <input type="text" name="name" placeholder="name"/>
            <input type="submit" value="Search"/>
        </div>
        <a href="{% url 'panda-list' %}">Clear Search</a>
    </form>
    <h1>{{header}}</h1>
    {% for panda in pandas %}
    <div class="card border border-5" style="width: 18em; border: 10px solid #c4da3d!important;background: linear-gradient(140deg, #c4da3d 0%, #6e7f0e 69%, #275009 100%); font-family: 'Open Sans', Helvetica, sans-serif;">
    <img src="{{panda.img}}" class="card-img-top" style="height: auto;" alt="{{panda.name}}">
    <div class="card-body" style="text-align: center; font-size: 1em;">
    <a href="{% url 'panda_detail' panda.pk %}"> 
        <p class="name" style="color:#3A1C71;">Name: {{panda.name}}</p> 
    </a>
    
    <p>Age: {{panda.age}}</p>
    <p>Gender: {{panda.gender}}</p>
    <p>Adopted by:
        <a href="/user/{{ panda.user.username }}">{{ panda.user.username }}</a>
    </p>
    </div>
    </div>
    {% endfor %}
{% endblock %}