{% extends 'base.html' %}
{% block content %}

<h1>Panda Snack List</h1>

{% for pandasnack in pandasnacks %}
<div class="d-flex justify-content-center">
    <div class="card border border-5" style="width: 18em; border: 10px solid #7E9B80!important;background: linear-gradient(140deg, #7E9B80 0%, #687f6a 69%, #275009 100%); font-family: 'Open Sans', Helvetica, sans-serif;">
        <a href="{% url 'pandasnacks_show' pandasnack.id %}">
            <div class="card-content">
                <span>{{ pandasnack.name }}</span>
                <p>Energy: {{ pandasnack.energy_increase }}</p>
            </div>
        </a>
        </div>
    </div>
{% endfor %}

{% endblock %}