{% extends 'base.html' %}

{% block content %}
    <h1>Panda Toy Details</h1>

    <div class="d-flex justify-content-center">
        <div class="card border border-5" style="width: 18em; border: 10px solid #7E9B80!important;background: linear-gradient(140deg, #7E9B80 0%, #687f6a 69%, #275009 100%); font-family: 'Open Sans', Helvetica, sans-serif;">
            <h2>{{ pandatoy.name }}</h2>
            <p>Color: {{ pandatoy.color }}</p>
            <p>Owned by:</p>
            {% for panda in pandatoy.panda_set.all %}
                <p>{{panda.name}}</p>
            {% empty %}
                <p>Nobody Has This Toy</p>
            {% endfor %}
        </div>
        <div>
            <a href="{% url 'pandatoys_update' pandatoy.id %}">Edit</a>
            <a href="{% url 'pandatoys_delete' pandatoy.id %}">Delete</a>
        </div>
    </div>

{% endblock %}